@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  /* .product-price {
    @apply mr-2.5 text-3xl font-normal uppercase not-italic leading-[34px];
  }
  .product-price + .product-price {
    @apply flex items-end text-base font-normal uppercase not-italic leading-[125%] line-through;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.swiper .swiper-wrapper .rooms__slide {
  max-width: 372px;
  height: 485px;
  transition: height 0.5s;

  @media (max-width: 768px) {
    max-width: 350px;
    height: 390px;
  }

  @media (min-width: 2560px) {
    height: 580px;
  }
}

.swiper-slide.swiper-slide-active.rooms__slide {
  transition-delay: 0.2s;
  height: 580px;

  @media (max-width: 768px) {
    height: 480px;
  }
}

.swiper-slide.swiper-slide-active.rooms__slide .rooms__slide-container {
  opacity: 1;
}

.swiper-slide .rooms__slide-container {
  max-width: 265px;
  width: 100%;
  height: 130px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 1s;
  bottom: 0;
  left: 0;
  padding: 0px 0px 24px 24px;

  @media (min-width: 2560px) {
    opacity: 1;
  }
}

.swiper-slide .rooms__slide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 217px;
  width: 100%;
  height: 130px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(1.5px);
  transition: box-shadow 0.4s;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: inline-flex;
  align-items: center;
  max-width: 120px;
  left: 400px;
  bottom: 5%;

  @media (max-width: 768px) {
    left: 62%;
  }

  @media (min-width: 2560px) {
    display: none;
  }
}

span.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d8d8d8;
  opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 27px;
  height: 27px;
  background: radial-gradient(
    circle,
    #b88e2f 0%,
    #b88e2f 30%,
    transparent,
    transparent
  );
  border: 1px solid #b88e2f;
  opacity: 1;
}
